/*--------------------------------------------------------------------------------------------------------*/
    /*Não mexer pois*/
    /*aqui so tem Rodape, menu, logo */

    /*Fundo da pagina*/


    @font-face{
      font-family: 'Futura';
      src: url('/tipo grafia/futura sv/Futura\ Thin.ttf');
    }

body{
    background-color: rgb(255, 255, 255);
    margin-top:30px; 
    font-family: 'Futura';
}

/*Retanhulo de fundo (logo e menu)*/
.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px; /* Defina a altura desejada para o retângulo */
  background-color: rgb(2, 13, 67);
  z-index: -1; /* Coloca o retângulo atrás do conteúdo */
}

/*--------------------------------------------------------------------------------------------------------*/
    /*logo da empresa ao lado do menu*/

    .logo {
        display: inline-block; /* Permite que a div da logo seja exibida em linha */
        margin-left: 35px; /* Define a margem à esquerda como "auto" para empurrar a logo para a direita */
        margin-top: -20px;
       /*float: left;*/
      }
      
      .logo img {
        height: 90px; /* Define a altura da logo */
        /*margin-right: 10px; /* Adiciona um espaço de 10 pixels à direita da logo */

      }

/*--------------------------------------------------------------------------------------------------------*/
    /*Menu (barra de navegação)*/

    nav ul {
        width: 100%;
        list-style-type: none; /* Remove a estilização padrão das listas, removendo os marcadores/bolinhas */
        padding: 0; /* Remove o preenchimento interno do elemento <ul> */
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      nav li a {
        font-size: larger medium;
        font-family: 'Futura'; /* Define a fonte do texto dos links do menu */
        color: rgba(255, 255, 255, 0.858); /* Define a cor do texto dos links */
        display: block; /* Faz com que os links ocupem todo o espaço disponível horizontalmente */
        padding: 10px; /* Adiciona um preenchimento interno de 10 pixels aos links */
        text-decoration: none; /* Remove a decoração de texto dos links */
      }
      
      nav ul li:hover {
        background: rgba(55, 55, 55, 0.933);
        box-shadow: 0px 2px 8px rgba(89, 255, 0, 0.707); /* Adiciona uma sombra ao menu ao passar o mouse */
      }

     /* nav ul li:hover {
        background: rgba(122, 149, 170, 0.522);
        box-shadow: 0px 2px 8px rgba(69, 127, 136, 0.707);} /* Adiciona uma sombra ao menu ao passar o mouse */

      /* Estilos para o menu responsivo */

      #menu-toggle {
        display: none;
      }

      .menu-icon {
        display: none;
        font-size: larger;
        cursor: pointer;
      }

      .menu-icon-container {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 20px;/* Adapte a margem conforme necessário */
        margin-top: -65px;
      }



/*--------------------------------------------------------------------------------------------------------*/
   /*Roda pe*/

   footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center; /* Adiciona alinhamento central para o conteúdo do rodapé */
  }
  
  .logo-horizontal img {
    width: 200px; /* Ajuste a largura conforme necessário */
    margin-bottom: -20px;
  }
  
  .colunas {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .coluna {
    flex: 1;
    margin-right: 20px;
  }
  
  .coluna h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .coluna ul {
    list-style: none;
    padding: 0;
  }
  
  .coluna li {
    margin-bottom: 5px;
  }
  
  .coluna a {
    text-decoration: none;
    color: #333;
  }
  
  .rodape-coluna {
    flex: 1;
    margin-right: 20px;
  }
  
  .texto-final {
    margin: 20px;
    font-size: 18px; /* Ajuste o tamanho da fonte conforme necessário */
    font-weight: bold;
  }

  .informacoes {
    display: flex;
    align-items: center;
    justify-content: center; /* Alinha o conteúdo horizontalmente */
    text-align: center;
  }
  
  .informacoes p {
    margin-right: 20px;
  }
  
  .direitos-reservados {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }
  
  .footer-text {
    margin-bottom: 10px;
  }

  .rp-inf-3 a {
    color: #000; /* Cor preta para os links */
    text-decoration: none; /* Remove o sublinhado padrão */
  }
  
  .rp-inf-3 a:hover {
    text-decoration: underline; /* Adiciona a barra de sublinhado ao passar o mouse */
  }
  

  /* Estilos para links */
  a {
    color: #0066cc;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  /* Estilos para o rodapé em dispositivos móveis */
  @media (max-width: 768px) {
    .colunas {
      flex-direction: column;
    }
  
    .coluna {
      margin-bottom: 20px;
      margin-right: 0;
    }
  }
/*--------------------------------------------------------------------------------------------------------*/




/*--------------------------------------------------------------------------------------------------------*/




/*--------------------------------------------------------------------------------------------------------*/




/*--------------------------------------------------------------------------------------------------------*/
/*explicações*/
/*"


"*/
/*"


"*/
/*"


"*/